/* colours */
:root {
    --t2t-blue: #CAFFFA;
    --t2t-black: #000000;
    --t2t-lGrey: #FCFCFC;
    --t2t-white: #FFFFFF;
    --t2t-red: #BA3030;
    --t2t-dGrey: #333333;
}

body {  
    background-color: var(--t2t-blue);
    font-family: 'Mandali', sans-serif;
}

/* 
easy colouring  
*/

.t2t-Blue {
    color: var(--ea-app-primary-colour-blue)!important;
}

.t2t-Black {
    color: var(--ea-app-primary-colour-black)!important;
}

.t2t-lGrey {
    color: var(--ea-app-primary-colour-lGrey)!important;
}

.tst-White {
    color: var(--ea-app-primary-colour-white)!important;
}

.t2t-Red {
    color: var(--ea-app-secondary-colour-red)!important;
}

.t2t-dGrey {
    color: var(--ea-app-secondary-colour-dGrey)!important;
}

/* 
easy bg colouring 
*/

.t2t-Blue-BG {
    background-color: var(--ea-app-primary-colour-blue)!important;
}

.t2t-Black-BG {
    background-color: var(--ea-app-primary-colour-black)!important;
}

.t2t-lGrey-BG {
    background-color: var(--ea-app-primary-colour-lGrey)!important;
}

.t2t-White-BG {
    background-color: var(--ea-app-primary-colour-white)!important;
}

.t2t-Red-BG {
    background-color: var(--ea-app-secondary-colour-red)!important;
}

.t2t-dGrey-BG {
    background-color: var(--ea-app-secondary-colour-dGrey)!important;
}